# DEBUG
DEBUG=True

# Domain
ALLOWED_HOSTS=localhost,127.0.0.1

# DB
DATABASES_NAME=your_db_name
DATABASES_USER=your_db_user
DATABASES_PASSWORD=your_db_password
DATABASES_HOST=db
DATABASES_PORT=3306

# MySQL
MYSQL_ROOT_PASSWORD=your_root_password

# Secret key
# 以下のコマンドで生成できるよ:
# python -m django utils.crypto get_random_string 50
SECRET_KEY=your_secret_key
