# Python
__pycache__/
*/__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Environment
.env
venv/
.venv/

# Mac
.DS_Store

# VSCode
.vscode/

# Docker
mysql_data/

# migrations cache
*/migrations/__pycache__/

# staticfiles
staticfiles/

# individual
memo