<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasID" aria-controls="offcanvasID">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasID" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">サイドバー仮</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class=""list-group>
            <a href="{% url 'user_list' %}" class="list-group-item list-group-item-action">
                ユーザー管理
            </a>
            {% if request.user.authority_id == 1 %}
            <a href="{% url 'shop_list' %}" class="list-group-item list-group-item-action">
                店舗一覧
            </a>
            <a href="{% url 'warehouse_list' %}" class="list-group-item list-group-item-action">
                倉庫管理
            </a>
            <a href="{% url 'goods_list' %}" class="list-group-item list-group-item-action">
                商品管理
            </a>
            <a href="{% url 'relation_list' %}" class="list-group-item list-group-item-action">
                倉庫店舗連携管理
            </a>
            {% endif %}
            {% if request.user.authority_id == 2 %}
            <li>店舗在庫管理</li>
            <li>連携倉庫一覧</li>
            <a href="{% url 'order_goods_list' %}" class="list-group-item list-group-item-action">
                商品発注
            </a>
            <li>発注履歴</li>
            {% endif %}
            {% if request.user.authority_id == 3 %}
            <a href="{% url 'warehouse_stock_list' %}" class="list-group-item list-group-item-action">
                倉庫在庫管理
            </a>
            <li>受注管理</li>
            {% endif %}
            <a href="{% url 'inquiry_list' %}" class="list-group-item list-group-item-action">
                問い合わせ
            </a>
        </div>
    </div>
</div>
