{% extends 'base.html' %}

{% block title %}
ユーザー一覧
{% endblock %}

{% block content %}
<div class="d-flex user-list-header">
    <form method="get" class="row g-3 mb-3">
        <div class="col-auto d-flex align-items-center gap-2">
            {% if user.authority_id == AUTHORITY_ADMIN %}
            <div>
                <p class="mb-0">権限</p>
                <select name="authority" class="form-select">
                    <option value=""> - </option>
                    {% for authority in authorities %}
                    <option value="{{authority.id}}">{{authority}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if user.authority_id == AUTHORITY_ADMIN or user.authority_id == AUTHORITY_SHOP %}
            <div>
                <p class="mb-0">所属店舗</p>
                <select name="shop" class="form-select">
                    <option value=""> - </option>
                    {% for shop in shops %}
                    <option value="{{shop.id}}">{{shop}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if user.authority_id == AUTHORITY_ADMIN or user.authority_id == AUTHORITY_WAREHOUSE %}
            <div>
                <p class="mb-0">所属倉庫</p>
                <select name="warehouse" class="form-select">
                    <option value=""> - </option>
                    {% for warehouse in warehouses %}
                    <option value="{{warehouse.id}}">{{warehouse}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <div class="col-auto d-flex align-items-end">
            <button type="submit" class="btn-primary">
                権限絞り込み
            </button>
        </div>
    </form>
    <a href="{% url 'user_create' %}" class="btn btn-primary mb-5 ms-auto">新規作成</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ユーザー名</th>
            <th>性別</th>
            <th>権限</th>
            <th>所属</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="align-middle">
            <!--ユーザー名-->
            <td>{{ user.username}}</td>

            <!--性別-->
            {% if user.user_gender == GENDER_MEN %}
            <td>男性</td>
            {% elif user.user_gender == GENDER_WOMEN %}
            <td>女性</td>
            {% elif user.user_gender == GENDER_OTHERS %}
            <td>その他</td>
            {% endif %}

            <!--権限-->
            <td>{{ user.authority}}</td>

            <!--所属-->
            {% if user.authority_id == AUTHORITY_ADMIN %}
            <td> - </td>
            {% elif user.authority_id == AUTHORITY_SHOP %}
            <td>{{ user.shop}}</td>
            {% elif user.authority_id == AUTHORITY_WAREHOUSE %}
            <td>{{ user.warehouse}}</td>
            {% endif %}

            <!--操作-->
            <td>
                <a href="{% url 'user_update' pk=user.pk %}" class="btn btn-sm btn-outline-primary">編集</a>
            </td>
             
        </tr>
        {% empty %}
            ユーザーが存在しません
        {% endfor %}
    </tbody>
</table>
{% endblock %}
