{% extends 'base.html' %}

{% block title %}
ユーザー一覧
{% endblock %}

{% block content %}
<div class="d-flex user-list-header">
    <form method="get" class="row g-3 mb-3">
        <div class="col-auto d-flex align-items-center gap-2">
            {% if user.authority_id == AUTHORITY_ADMIN %}
            <div>
                <p class="mb-0">権限</p>
                <select name="authority" class="form-select " id="authority-select">
                    <option value=""> - </option>
                    {% for authority in authorities %}
                    <option value="{{authority.id}}" {% if request.GET.authority == authority.id|stringformat:"s" %}selected{% endif %}>{{authority}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if user.authority_id == AUTHORITY_ADMIN or user.authority_id == AUTHORITY_SHOP %}
            <div>
                <p class="mb-0">所属店舗</p>
                <select name="shop" class="form-select" id="belonging-select-shop">
                    <option value=""> - </option>
                    {% for shop in shops %}
                    <option value="{{shop.id}}" {% if request.GET.shop == shop.id|stringformat:"s" %}selected{% endif %}>{{shop}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if user.authority_id == AUTHORITY_ADMIN or user.authority_id == AUTHORITY_WAREHOUSE %}
            <div>
                <p class="mb-0">所属倉庫</p>
                <select name="warehouse" class="form-select" id="belonging-select-warehouse">
                    <option value=""> - </option>
                    {% for warehouse in warehouses %}
                    <option value="{{warehouse.id}}" {% if request.GET.warehouse == warehouse.id|stringformat:"s" %}selected{% endif %}>{{warehouse}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <div class="col-auto d-flex align-items-end">
            <button type="submit" class="btn btn-outline-primary">絞り込む</button>
            <a href="{% url 'user_list' %}" class="btn btn-outline-secondary ms-1">リセット</a>
        </div>
    </form>
    <a href="{% url 'user_create' %}" class="btn btn-primary mb-5 ms-auto">新規作成</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ユーザー名</th>
            <th>性別</th>
            <th>権限</th>
            <th>所属</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="align-middle">
            <!--ユーザー名-->
            <td>{{ user.username}}</td>

            <!--性別-->
            {% if user.user_gender == GENDER_MEN %}
            <td>男性</td>
            {% elif user.user_gender == GENDER_WOMEN %}
            <td>女性</td>
            {% elif user.user_gender == GENDER_OTHERS %}
            <td>その他</td>
            {% endif %}

            <!--権限-->
            <td>{{ user.authority}}</td>

            <!--所属-->
            {% if user.authority_id == AUTHORITY_ADMIN %}
            <td> - </td>
            {% elif user.authority_id == AUTHORITY_SHOP %}
            <td>{{ user.shop}}</td>
            {% elif user.authority_id == AUTHORITY_WAREHOUSE %}
            <td>{{ user.warehouse}}</td>
            {% endif %}

            <!--操作-->
            <td>
                {% if user == request.user %}
                <a href="{% url 'mypage' %}" class="btn btn-sm btn-outline-primary">マイページ</a>
                {% elif request.user.authority_id == AUTHORITY_ADMIN %}
                <a href="{% url 'user_update' user.pk %}" class="btn btn-sm btn-outline-secondary">編集</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
            ユーザーが存在しません
        {% endfor %}
    </tbody>
</table>

<!-- ページネーション -->
{% if page_obj.has_other_pages %}
<nav aria-label="ページネーション">
    <ul class="pagination justify-content-center mt-3">

        <!-- 前へ -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ filter_query }}">前へ</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">前へ</span>
        </li>
        {% endif %}

        <!-- ページ番号 -->
        {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <span class="page-link">{{ num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}{{ filter_query }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- 次へ -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ filter_query }}">次へ</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">次へ</span>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

{% endblock %}
